@import './styles/variables.less';
@import './styles/utilities.less'; // Used in combination with .App for tools!

@app-workspace-background-color: @default-background-color-light;
@app-work-padding: 10px;
@app-work-selected-background-color: fade(@color-amber-A700, 20%);
@app-work-selected-border-color: fade(@color-amber-A700, 30%);
@app-inspector-area-width-expanded: @default-inspector-width-expanded;
@app-inspector-area-width-collapsed: @default-inspector-width-collapsed;
@app-inspector-area-transition-duration: @default-transition-duration;

.App {
  display: flex;
  min-height: 100vh;
}

.App-workspace {
  flex: 1 0 0%;
  overflow: hidden;
  background-color: @app-workspace-background-color;
}

.App-works {
}

.App-work {
  display: block;
  padding: @app-work-padding;
  padding: 20px;
  border: 1px solid transparent;
}

.App-work.is-selected {
  background-color: @app-work-selected-background-color;
  border-color: @app-work-selected-border-color;
}

.App-inspectorArea {
  flex: none;
  display: flex;
  overflow: hidden;
  transition: width @app-inspector-area-transition-duration ease;

  &.App-inspectorArea--expanded {
    width: @app-inspector-area-width-expanded;
    transition: width @app-inspector-area-transition-duration ease;
  }

  &.App-inspectorArea--collapsed {
    width: @app-inspector-area-width-collapsed;
    transition: width @app-inspector-area-transition-duration ease;
  }
}
