@import (less) '../node_modules/normalize.css/normalize.css';

@import "../node_modules/font-awesome/less/variables.less";
@fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/less/mixins.less";
@import "../node_modules/font-awesome/less/path.less";
@import "../node_modules/font-awesome/less/core.less";
@import "../node_modules/font-awesome/less/larger.less";
@import "../node_modules/font-awesome/less/fixed-width.less";
@import "../node_modules/font-awesome/less/list.less";
@import "../node_modules/font-awesome/less/bordered-pulled.less";
@import "../node_modules/font-awesome/less/animated.less";
@import "../node_modules/font-awesome/less/rotated-flipped.less";
@import "../node_modules/font-awesome/less/stacked.less";
@import "../node_modules/font-awesome/less/icons.less";
@import "../node_modules/font-awesome/less/screen-reader.less";

@import './components/checkbox.less';

html, body {
  box-sizing: border-box;
  background-color: @default-window-background-color;
  color: @default-text-color;
  font: @default-font;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@import 'variables.less';
@import 'utilities.less';

.MessageBox {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.MessageBox-title {
  flex: none;
  margin: 10px;
}

.MessageBox-text {
  flex: 1 0 0%;
  margin: 10px;
}

.MessageBox-buttons {
  flex: none;
  width: 50%;
  margin: 10px;
  display: flex;
  align-self: flex-end;
}

.MessageBox-button {
  flex: 1 0 0%;
  margin-left: 10px;
}
