@default-font-family: 'Segoe UI', 'Lucida Grande', Arial, sans-serif;
@inspector-width-expanded: 200px;
@inspector-width-collapsed: 25px;
@transition-duration: 0.2s;
@very-small-screen: 250px;
@default-work-padding: 10px;
@selected-work-background-color: #D3D3D3;
@inspector-area-background-color: #333;
@inspector-area-color: #FFF;
@inspector-area-input-border-color: #222;
@inspector-area-input-background-color: #D3D3D3;
@inspector-area-input-color: #000;
@default-glossy-shadow: 0 5px 5px rgba(255, 255, 255, .3) inset, 0 -5px 5px rgba(255, 255, 255, .3) inset;
