@sound-player-height: 16px;

av-sound-player {
  display: block;
}

.SoundPlayer {
  margin-top: 10px;
}

.SoundPlayer-progressContainer {
  background-color: yellow;
  position: relative;
  height: @sound-player-height;
}

.SoundPlayer-progressGrid {
  background-color: orange;
  height: @sound-player-height;
  position: absolute;
  width: 100%;
  font-size: 8px;
  display: flex;
}

.SoundPlayer-progressGridPart {
  border-left: 1px black solid;
  display: block;

  &:first-child {
    border-left: none;
  }
}

.SoundPlayer-progress {
  width: 100%;
  height: @sound-player-height;
  display: block;
  position: absolute;
  -webkit-appearance: none;

  &::-webkit-progress-inner-element {
    background-color: transparent;
  }

  &::-webkit-progress-bar {
    background-color: transparent;
  }

  &::-webkit-progress-value {
    background-color: fade(black, 25%);
  }
}

.SoundPlayer-controller {
  margin-top: 10px;
  text-align: center;
  padding: 6px;
}
