<ul class="Toolbar">
  <li class="Toolbar-item" data-bind="click: pause">
    <button class="ToolbarButton">
      <span class="ToolbarButton-icon"></span>
      <span class="ToolbarButton-text">Pause</span>
    </button>
  </li>
  <li class="Toolbar-item">
    <button class="ToolbarButton" data-bind="click: stop">
      <span class="ToolbarButton-icon"></span>
      <span class="ToolbarButton-text">Stop</span>
    </button>
  </li>
  <li class="Toolbar-item">
    <button class="ToolbarButton" data-bind="click: create">
      <span class="ToolbarButton-icon"></span>
      <span class="ToolbarButton-text">Create</span>
    </button>
  </li>
</ul>
