@default-font-family: 'Segoe UI', 'Lucida Grande', Arial, sans-serif;
@inspector-width: 200px;
@transition-duration: 0.2s;
@very-small-screen: 250px;
@default-margin: 10px;
@selected-work-background-color: #D3D3D3;
@toolbar-background-color: rgba(29, 29, 29, 0.7);
@inspector-area-background-color: #333;
@inspector-area-color: #FFF;
@inspector-area-input-border-color: #222;
@inspector-area-input-background-color: #D3D3D3;
@inspector-area-input-color: #000;
