av-annotation {
  display: block;
}

.Annotation {
  display: flex;
  width: 100%;
  overflow: auto;
}

.Annotation-value {
  text-overflow: ellipsis;
  word-break: break-word;
  padding: 0; // Does not work: 3px 5px;
  background-color: @default-text-container-color;
  border: none;
  overflow-y: hidden;
  line-height: 1.33em;

  &:nth-child(even) {
    background-color: @default-text-container-alternate-color;
  }
}
