<div class="HelpScreen">
  <div class="HelpScreen-header">
    <h1 class="HelpScreen-headerTitle">Hilfe</h1>
  </div>
  <div class="HelpScreen-content">
    <div class="HelpScreen-contentRow">
      <table>
        <tr>
          <th class="HelpScreen-headerCellLeft">Tastaturkürzel</th>
          <th class="HelpScreen-headerCellRight">Aktion</th>
        </tr>
        <tr>
          <td class="HelpScreen-helpCell">n / s / k</td>
          <td class="HelpScreen-helpCell">Moduswahl: normal / Schere / Kleber</td>
        </tr>
        <tr>
          <td class="HelpScreen-helpCell">s (halten) + Klick (links)</td>
          <td class="HelpScreen-helpCell">teilt einen Analyseabschnitt (Schere)</td>
        </tr>
        <tr>
          <td class="HelpScreen-helpCell">k (halten) + Klick (links)</td>
          <td class="HelpScreen-helpCell">verbindet zwei Analyseabschnitte (Kleber) beim Klicken auf eine Formteilgrenze</td>
        </tr>
        <tr>
          <td class="HelpScreen-helpCell">c</td>
          <td class="HelpScreen-helpCell">schneidet eine Analyse beim Anhören einer Sounddatei</td>
        </tr>
        <tr>
          <td class="HelpScreen-helpCell">strg + n</td>
          <td class="HelpScreen-helpCell">erstellt eine neue Analyse</td>
        </tr>
        <tr>
          <td class="HelpScreen-helpCell">Pfeiltasten auf/ab</td>
          <td class="HelpScreen-helpCell">wählt eine Analyse aus</td>
        </tr>
        <tr>
          <td class="HelpScreen-helpCell">strg + s</td>
          <td class="HelpScreen-helpCell">sichert eine markierte Analyse</td>
        </tr>
        <tr>
          <td class="HelpScreen-helpCell">Leertaste</td>
          <td class="HelpScreen-helpCell">startet und stoppt die Soundwiedergabe einer ausgewählten Analyse</td>
        </tr>
      </table>
    </div>
    <div class="HelpScreen-contentRow">
      <h2 class="HelpScreen-contentRowHeader">Quickstart</h2>
      <ul>
        <li>
          Erstellen Sie eine neue Analyse mit strg + n.
        </li>
        <li>
          Verbinden Sie eine Analyse mit einer Sounddatei, indem Sie die Sounddatei per Drag&Drop auf den Analysebalken ziehen.
        </li>
        <li>
          Markieren Sie die Analyse und starten Sie den Sound mit der Leertaste.
        </li>
        <li>
          Erstellen Sie beim Anhören Unterteilungen mit der c-Taste.
        </li>
        <li>
          Verschieben Sie ggf. Markierungen durch "Anfassen" der Formteilgrenzen mit der Maus.
        </li>
        <li>
          Benennen Sie Formteile durch Doppelklick und Texteingabe. Setzen Sie den Cursor in den nächsten Formteil mit der TAB-Taste.
        </li>
        <li>
          Färben Sie benannte Formteile mit Standardfarben ein durch Klicken auf den Pinsel.
        </li>
      </ul>
      <p></p>
    </div>
  </div>
  <div class="HelpScreen-footer">
    <p>MIT Andreas Helmberger und Ulrich Kaiser</p>
  </div>
</div>
