@part-border-color: #111;
@part-inner-border-color: rgba(255, 255, 255, 0.2);
@part-inner-border-color-selected: #000;
@part-inner-background-gradient: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 100%);

av-part {
  display: block;
  overflow: auto;
}

.Part {
  border: 1px solid @part-border-color;
  overflow: auto;
  height: 100%;
  display: flex;
}

.Part-inner {
  border: 1px solid @part-inner-border-color;
  background: @part-inner-background-gradient;
  flex: 1 0 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;

  &.is-selected {
    border-color: @part-inner-border-color-selected;
  }
}

.Part-nameEditor {
  text-align: center;
  width: 80%;
}

.Part-nameDisplay {
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-user-select: none;
}
