<div class="SplashScreen">
  <div class="SplashScreen-header">
    <h1 class="SplashScreen-headerTitle" data-bind="text: anaVis"></h1>
  </div>
  <div class="SplashScreen-content">
    <div class="SplashScreen-actions">
      <button class="SplashScreen-button" data-bind="click: onCreate">
        <span class="SplashScreen-buttonIcon SplashScreen-buttonIcon--new"></span>&nbsp;&nbsp;&nbsp;neue Datei</button>
      <br>
      <button class="SplashScreen-button" data-bind="click: onOpen">
        <span class="SplashScreen-buttonIcon SplashScreen-buttonIcon--open"></span>&nbsp;&nbsp;&nbsp;Datei öffnen...</button>
    </div>
    <span class="SplashScreen-separator"></span>
    <div class="SplashScreen-recentUsedFiles">
      <p>Zuletzt geöffnet:</p>
      <ul data-bind="foreach: { data: recentUsedFiles, as: 'file' }">
        <li><a data-bind="text: $parent.getFilename(file), click: $parent.onOpenRecentFile"></a></li>
      </ul>
    </div>
  </div>
  <div class="SplashScreen-footer">
    <p>MIT Andreas Helmberger und Ulrich Kaiser</p>
  </div>
</div>
