av-work {
  display: block;
}

.Work {
  display: flex;
  align-items: stretch;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  height: 48px;
}

.Work-annotation, .Work-soundPlayer {
  margin-top: 10px;
}
