<label data-bind="text: $component.work._.zipFileName"></label>
<div class="Work" data-bind="foreach: { data: parts, as: 'part' }, soundDrop: onSoundDropped, partOperations: { work: work, app: $component.app }">
  <div class="Work-partOuter" data-bind="style: { flex: part.length }">
    <div class="Work-partInner" data-bind="style: { color: $component.getContrastColor(part.color()), backgroundColor: part.color }, css: { 'is-selected': $component.app.currentPart() === $data }, attr: { title: part.name }">
      <div class="Work-partName" data-bind="text: part.name"></div>
    </div>
  </div>
</div>
<!-- ko foreach: { data: annotations, as: 'annotation' } -->
<av-annotation params="annotation: annotation, parts: $parent.parts"></av-annotation>
<!-- /ko -->
<!-- ko foreach: { data: sounds, as: 'sound' } -->
<av-sound-player params="path: sound.path, parts: $parent.parts"></av-sound-player>
<!-- /ko -->
