<div class="Work">
  <div class="Work-header">
    <span class="Work-headerButton Work-headerButton--sound" data-bind="click: addSound"></span>
    <span class="Work-headerButton Work-headerButton--annotation" data-bind="click: addAnnotation"></span>
    <span data-bind="text: $component.work._.zipFileName() || 'Unbenannt'"></span>
    <span data-bind="visible: $component.work._.isDirty">*</span>
  </div>
  <div class="Work-body" data-bind="foreach: { data: parts, as: 'part' }, soundDrop: onSoundDropped, partOperations: { work: work, app: $component.app }">
    <av-part params="app: $parent.app, work: $parent.work, part: part" data-bind="style: { flex: part.length }"></av-part>
  </div>
  <!-- ko foreach: { data: annotations, as: 'annotation' } -->
  <av-annotation class="Work-annotation" params="annotation: annotation, parts: $parent.parts"></av-annotation>
  <!-- /ko -->
  <!-- ko foreach: { data: sounds, as: 'sound' } -->
  <av-sound-player class="Work-soundPlayer" params="sound: sound, work: $parent.work"></av-sound-player>
  <!-- /ko -->
</div>
