<div>
	<span data-bind="text: $component.work._.zipFileName() || 'Unbenannt'"></span>
	<span data-bind="visible: $component.work._.isDirty">*</span>
</div>
<div class="Work" data-bind="foreach: { data: parts, as: 'part' }, soundDrop: onSoundDropped, partOperations: { work: work, app: $component.app }">
  <av-part params="app: $parent.app, part: part" data-bind="style: { flex: part.length }"></av-part>
</div>
<!-- ko foreach: { data: annotations, as: 'annotation' } -->
<av-annotation class="Work-annotation" params="annotation: annotation, parts: $parent.parts"></av-annotation>
<!-- /ko -->
<!-- ko foreach: { data: sounds, as: 'sound' } -->
<av-sound-player class="Work-soundPlayer" params="path: sound.path, parts: $parent.parts"></av-sound-player>
<!-- /ko -->
